PORT=5000
# MONGODB_URI=mongodb://localhost:27017/pr-review-app
# Get your URI from MongoDB Atlas
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster.xyz.mongodb.net/pr-review-app?retryWrites=true&w=majority
JWT_SECRET=add_your_secret_key_here
